html,body {
            padding:0;
            margin:0;
            height:100%;
            min-height:100%;
            background-color: white;
        }

        hr {
            border: 0;
            border-top: 1px solid rgb(15, 158, 238);
        }

        a {
            color: #2844FA;
            text-decoration: none;
        }

        a:hover,
        a:focus {
            color: #1B29A4;
        }

        a:active {
            color: #000;
        }

        audio,
        video {
            border: 1px solid rgb(15, 158, 238);
            width: 90%;
            margin-left: 5%;
            margin-top: 3%;
            margin-bottom: 1%;
            display: none;
        }

        canvas {
            margin-left: 5%;
            margin-top: 3%;
            width: 90%;
        }

        button[disabled],
        input[disabled] {
            background: rgba(216, 205, 205, 0.2);
            border: 1px solid rgb(233, 224, 224);
        }

        /*.traitBar {
            width: 60%;
            border: 1px solid black;
            position: relative;
            margin-left: 10%;
            margin-top: 5px;
            height: 20px;
        }*/

        .traitBar {
            width: 60%;
            border: 1px solid black;
            position: relative;
            margin-left: 10%;
            margin-top: 0;
            margin-bottom: 0;
            height: 20px;
        }

        .jobTraitBar {
            width: 60%;
            border: 1px solid black;
            position: relative;
            margin-left: 10%;
            height: 15px;
            margin-top: 0;
            margin-bottom: 0;
            display: none;
        }

        .trait {
            position: absolute;
            left: 30%;
        }

        .traitFill {
            height: 20px;
        }

        .jobTraitFill {
            height: 15px;
            background-color: green;
        }

        /* Table */
        #data-table {
            border: none; /* Turn off all borders */
            border-top: 1px solid #ccc;
            width: 540px;
        }
        #data-table caption {
            color: #545454;
            font-size: 14px;
            font-weight: normal;
            line-height: 20px;
            margin: 0 0 20px 0;
            padding: 0;
            text-align: center;
        }
        #data-table thead {
            background: #f0f0f0;
        }
        #data-table th, 
        #data-table td {
            border: none; /* Turn off all borders */
            border-bottom: 1px solid #ccc;
            margin: 0;
            padding: 10px;
            text-align: left;   
        }

        /* Toggle */
        .toggles {
            background: #ebebeb;    
            color: #545454;
            height: 20px;
            padding: 15px;
        }
        .toggles p {
            margin: 0;
        }
        .toggles a {
            background: #222;
            border-radius: 3px; 
            color: #fff;
            display: block;
            float: left;
            margin: 0 10px 0 0;
            padding: 0 6px;
            text-decoration: none;
        }
        .toggles a:hover {
            background: #666;
        }
        #reset-graph-button {
            float:right;
        }

        /* Graph */
        /* Containers */
        #wrapper {
            /*height: 420px;
            left: 50%;
            position: absolute;
            top: 50%;   */
            width: 90%;
            margin: 3%;

        }
        #figure {
            height: 380px;
            position: relative;
        }
        #figure ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .graph {
            height: 283px;
            position: relative;
        }

        /* Legend */
        .legend {
            background: #f0f0f0;
            border-radius: 4px;
            bottom: 0;
            position: absolute;
            text-align: left;
            width: 540px;   
        }
        .legend li {
            display: block;
            float: left;
            height: 20px;
            margin: 0;
            padding: 10px 30px;
            width: 120px;
        }
        .legend span.icon {
            background-position: 50% 0;
            border-radius: 2px;
            display: block;
            float: left;
            height: 16px;
            margin: 2px 10px 0 0;
            width: 16px;    
        }

        /* X-Axis */
        .x-axis {
            bottom: 0;
            color: #555;
            position: absolute;
            text-align: center;
            width: 540px;
        }
        .x-axis li {
            float: left;
            margin: 0 15px;
            padding: 5px 0;
            width: 76px;    
        }

        /* Y-Axis */
        .y-axis {
            color: #555;
            position: absolute;
            text-align: right;
            width: 100%;
        }
        .y-axis li {
            border-top: 1px solid #ccc;
            display: block;
            height: 62px;
            width: 100%;
        }
        .y-axis li span {
            display: block;
            margin: -10px 0 0 -60px;
            padding: 0 10px;
            width: 40px;
        }

        /* Graph Bars */
        .bars {
            height: 253px;
            position: absolute;
            width: 100%;
            z-index: 10;
        }
        .bar-group {
            float: left;
            height: 100%;
            margin: 0 15px;
            position: relative;
            width: 100%;
        }
        .bar {
            border-radius: 3px 3px 0 0;
            bottom: 0;
            cursor: pointer;    
            height: 0;
            position: absolute;
            text-align: center;
            width: 20%;
        }
        .bar.fig0 {
            left: 0;
        }
        .bar.fig1 {
            left: 20%;
        }
        .bar.fig2 {
            left: 40%;
        }
        .bar.fig3 {
            left: 60%;
        }
        .bar.fig4 {
            left: 80%;
        }
        .bar span {
            background: #fefefe;
            border-radius: 3px;
            left: -8px;
            display: none;
            margin: 0;
            position: relative;
            text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
            width: 40px;
            z-index: 20;
            
            -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
            box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
        }
        .bar:hover span {
            display: block;
            margin-top: -25px;
        }